<div class="login_page">
  <h1 class="title">少儿英语后台系统</h1>
  <div class="field">
    <div class="control">
      <input class="input is-primary" type="text" placeholder="用户名">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <input class="input is-primary" type="password" placeholder="密码">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-fullwidth is-primary">登录</button>
    </div>
  </div>
</div>

